{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bash.im.ru</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container" id="menu">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#" id="home_link">На главную</a>
            <a class="nav-item nav-link" href="#" id="create_link" data-toggle="modal" data-target="#form_modal">Добавить</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="#" id="enter_link" data-toggle="modal" data-target="#form_modal">Вход</a>
            <a class="nav-item nav-link d-none" href="#" id="exit_link">Выход</a>
        </div>
    </div>
</nav>

<div class="container" id="content">

</div>

<div class="modal fade" id="form_modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="form_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="log_in_form" class="d-none">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" id="username_input" placeholder="Логин">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" id="password_input"
                               placeholder="Пароль">
                    </div>
                </form>

                <form id="quote_form" class="d-none">
                    <div class="form-group">
                        <input class="form-control" type="text" name="text" id="text_input" placeholder="Текст">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="author" id="author_input" placeholder="Автор">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" id="email_input" placeholder="Email">
                    </div>
                </form>
                <form id="quote_view" class="d-none">
                    <div class="form-group">
                        <p class="form-control" id="text_input"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary mr-auto" id="form_submit"></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="application/javascript" src="{% static "js/main.js" %}"></script>
</body>
</html>
